.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  input {
    width: 360px;
    margin-bottom: 0.5rem;
  }
}
